html, body {
    margin: 0;
    height: 100%;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

main {
    background-color: #f4a7b9;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); /* 調整高度以確保填滿屏幕 */
}

nav {
    background-color: #D6CCC2;
    text-align: right;
    padding: 10px 0;
}

nav a {
    color: black;
    padding: 20px 10px;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    background-color: gray;
    color: white;
}

.container {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1800px;
    width: 100%;
    margin: 40px;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.row-center {
    justify-content: center;
}

.profile-card {
    background-color: #f4a7b9;
    height: 400px;
    max-height: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
    flex: 1;
    box-sizing: border-box;
    transition: transform 1s ease-in-out;
    transition-delay: 0.5s;
}

.profile-card:hover {
    transform: scale(1.1);
    transition-delay: 0s;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-info {
    display: none;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.profile-card:hover .profile-info {
    display: block;
    opacity: 1;
}

.profile-card .profile-info {
    transition-delay: 0.2s;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

button {
    background-color: #D6CCC2;
    color: black;
    font-family: 'Noto Serif TC', serif;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 500px;
    height: 40px;
    font-size: 16px;
}

button:hover {
    background-color: gray;
    color: white;
}
