html,
body {
    margin: 0;
    height: 100%;
    line-height: 1.5;
}

header {
    background-color: gainsboro;
    flex-grow: 1;
    width: 100%;
}

main {
    background-color: #f4a7b9;
    flex-grow: 5;
    width: 100vw;
    padding: 10px;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;

}

footer {
    background-color: aquamarine;
    flex-grow: 2;
    width: 100%;
}


/* 傳送按鈕 */

nav {
    text-align: center;
    margin: 1em 0;
    width: 100%;
}

nav a {
    color: #333;
    margin: 0 1em;
    text-decoration: none;
}



/* 產品 */

.product-container {
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
    display: flex;
    border: 5px solid #ddd;
    flex-grow: 2;
    width: auto;
    background-color: #f4a7b9;
}

.product {
    background-color: #f4a7b9;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    width: 500px;
}

.product-image {
    margin-right: 2em;
}



/* 按鈕 */

.quantity-selector {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 1em;
}

.quantity-btn {
    background-color: #e41464;
    border: none;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
}

.quantity-btn:hover {
    background-color: #e41464;
}

.quantity-selector input {
    width: 50px;
    text-align: center;
    margin: 0 0.5em;
}



button[type="submit"], button[type="button"] {
    background-color: #e41464;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    width: 200px;
    border: 1px solid #ddd;
}

button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #e41464;
    
}