html,body{
    margin: 0;
    height: 100%;

    line-height: 1.5;
}

header,main,footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: gainsboro;
    flex-grow: 1;
    width: 100%;
}

main{
    background-color:rgb(182, 182, 182);
    flex-grow:5;
    width: 90vw;

    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

footer{
    background-color: aquamarine;
    flex-grow: 2;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* height: 100%; */
    width: 100%;
}


.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.formstyle{
    margin: 5px 10px 10px;
    padding: 5px 20px 20px;
    width: 80%;
    max-width: 1200px;

    background-color: white;
    border-radius: 5px;
    box-shadow:1px 2px 2px rgba(0, 0, 0, 0.036);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mydata{
    margin:10px 10px 0px;
    padding:20px 20px 0px;
    display: flex;
    justify-content: left;
    
    width:80%
}

h1{
    width: 45%;
    border-bottom: 0.5px solid #efefef;
}

table{
    width: 100%;
    border-collapse: collapse;
    
}

td{
    padding: 10px;
    
}

.tpdc{
    text-align: right;
}

input{
    width: 100%;
    box-sizing: border-box;    
}

input[type="date"]{
    width: 100%;
    padding: 8px;
    box-sizing: border-box; /* 確保內邊距不會影響元素總寬度 */
}

input[type="submit"]{
    width: 30%;
}