html,body{
    margin: 0;
    padding: 0;
    height: 100%;

    line-height: 1.5; /*行距*/
}
header,main,footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    background-color: gainsboro;
    flex-grow: 1;
    width: 100%;
}
main{
    background-color:lightyellow;
    flex-grow:5;
    width: 80vw;
    padding: 10px;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
}
table{
    width: 75%;
    border-collapse: collapse;
    margin: 1rem 0; /*rem：相對單位，每個元素透過「倍數」乘以根元素的 px 值。*/
}
table,th,td{
    border: 1px solid #ddd;
}
th,td{
    padding: 0.5rem;
    text-align:left;
}
th{
    background-color: #f2f2f2;
}
tbody tr:nth-child(even){
    background-color: #f2f2f2;
}

footer{
    background-color: aquamarine;
    flex-grow: 2;
    width: 100%;
    text-align: center;
}
